@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,800;1,900&display=swap";

/* CSS Variable*/

:root {
    --font-family: 'Montserrat',sans-serrif;
    --color: #00FFCA ;
    --title: linear-gradient(90deg, #816aff 0%, #6a9bff 35%, #6a9bff 66%, #816aff 100% );
}

/* General Styles*/

html{
    position:relative;
    scroll-behavior: smooth;
}


body{
    margin: auto;
    overflow-y: auto;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
}

/* Background image Styles*/

#background{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    height: auto;
    z-index: -1;
    max-width: 1440px;
    margin: auto;
}

/* Common navbar Styles*/

#nav-menu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
    z-index: 0;
    box-shadow: 0.1 0.5 10px #000000;
    background: #0A4D68;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-top: 0px;
    z-index: 5;
}

/* Logo Styles*/

#nav-menu .logo{
    margin-top: 20px;
    margin-left:0px;
    color: var(--color);  
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.logo a img{
    width: 70px;
    height:70px;
    -webkit-filter: brightness(150%);
    animation: rotate 5s linear infinite;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Logo name Styles*/
#nav-menu .logo-name{
    margin-top: 10px;
    width: 171px;
    height:24px;
    color: var(--color);
    font-family: var(--font-family);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 19.5px;
    letter-spacing: 0.1em;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    margin-top: 39px;
    align-items: center;
    padding: 19px 10px 15px 11px;
    list-style-type: none;
}

.navbar-list li a {
    color: var(--color);
    text-decoration: none;
    margin-right: 15px;
    width: 77px;
    height: 29px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.1em;
    white-space: nowrap;
    letter-spacing: 0.1em;
    position: relative;
}

.navbar-list li a::after{
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #05BFDB;
    transition: 1s ease-in;
}

.navbar-list li a:hover::after{
    width: 100%;
}

#header-right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: right;
    margin-top: 20px;
}
#header-right  .username-logo{
    background-image: url('../assets/images/username_logo.svg');
    width: 35px;
    height: 35px;
}

/* Login button Styles*/

.login{
    width: 144px;
    height: 40px;
    margin-left: 31px;
}

/*  Common Style for all buttons*/
button {
    border-radius: 10px;
    background: -moz-linear-gradient(180deg, #05BFDB 0%,#00FFCA 50%,#05BFDB 100%);
    border: none;
    font-family: var(--font-family);
    color: #0A4D68;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 19.5px;
    letter-spacing: 0.1em;
    line-height: normal;
    cursor: pointer;
    white-space: nowrap;
    z-index: 0;
    outline: none;
    text-transform: uppercase;
    transition: all 1.5s ease-in-out, background-color 0.5s ease-in-out ;
    box-shadow: 0 0 4px 3px #00FFCA;  
    width: 300px;
    height:60px;
}

/*  Common style for all button hover*/

button:hover{
    animation: pulse 1s infinite alternate;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


/* ===BEGIN_home page additional styles=== */

/* hero section styles */

#skateboard-background-section{
    display: grid;
    z-index: 0;
    width: 90.8%;
    height: 600px;
    margin-top: 64px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    grid-template-areas: ". skate ." ". title ." ". subtitle ." ;
    grid-template-rows: 240px 161px 186px;
    grid-template-columns: auto 880px auto;
    box-shadow: 0 0 4px 3px #00FFCA; 
    text-align: center;
    justify-items: center;
}

#skateboard-background-section h1{
    margin-top: 90px;
    max-width: 884px;
    max-height:auto;
    font-family: var(--font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background: var(--title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.1em transparent;
    background-clip: text;
    text-transform: uppercase;
    grid-area: skate;
    animation: colorChange 1s linear infinite;
}

@keyframes colorChange {
    0% {
        background: var(--title);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0.1em transparent;
        background-clip: text;
    }
    50% {
        background: linear-gradient(90deg, #816aff 0%, #816aff 35%, #6a9bff 66%, #6a9bff 100% );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0.1em transparent;
        background-clip: text;
    }

    100% {
        background: linear-gradient(90deg, #6a9bff  0%, #816aff 35%, #816aff 66%, #6a9bff 100% );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0.1em transparent;
        background-clip: text;
    }
}

#skateboard-background-section p{
    max-width: 556px;
    max-height: 53px;
    color: var(--color);    
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    text-transform: capitalize;
    grid-area: title;
}

.learn-more-button{
    grid-area:  subtitle;
}

/* sub-hero section styles */

#sub-hero-section{
    margin-top: 270px;
    display: grid;
    width: 90.8%;
    height: auto;
}
.skate-rush-description{
    display: grid;
    width: 100%;
    grid-template-areas: "image . container" ;
    grid-template-rows: 460px;
    grid-template-columns: 1fr 25px 1fr;
}

.skate-rush-explore{
    margin-top: 150px;
    display: grid;
    width: 100%;
    grid-template-areas: "container . image" ;
    grid-template-rows: 460px;
    grid-template-columns: 1fr 111px 1fr;
    margin-left: 4.2%;
}

.skate-rush-description img,
.skate-rush-explore img{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area: image;
    max-width: 100%; 
    max-height:451px;
    -webkit-filter: brightness(95%) ;
    -webkit-transition: all 2s ease-in-out;
    border-radius: 40px;
}

.skate-rush-description img:hover,
.skate-rush-explore img:hover{
    -webkit-filter: brightness(150%);
    box-shadow: 0 0 10px 4px #0ef;
}


.description-container, 
.explore-container{
    grid-area: container;
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-areas: ". skate-title ." "para para para" ". button ." ;
    grid-template-rows: 125px 230px auto;
    grid-template-columns: auto auto auto;
    justify-items: center;
    border-radius: 15px;
    box-shadow: 0 0 4px 3px #00FFCA; 
    max-height: 440px;
    margin-top: 5px;
    text-align: center;
}

.description-container h2, 
.explore-container h2{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: normal;
    background: var(--title);
    grid-area: skate-title;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.1em transparent;
    background-clip: text;
    text-transform: uppercase;
    text-align: center;

}

.description-container p, 
.explore-container p{
    color: var(--color);    
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: para;
    margin: 0px 5px 0px 5px;
}

.description-container .game-button,
.explore-container .explore-button{
    grid-area: button;
}

/* ===END_home page additional styles=== */


/* Common footer styles for all pages */
footer{
    background-color: #0A4D68;
    height: auto;
    width: 100%;
    max-width: 1440px;
    margin-top: 200px;
    margin-bottom: 3.5%;
    font-family: var(--font-family);
    color: var(--color);   
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.1em;
}


#footer-left {
    margin-left: 3.12%;
    margin-right: 60%;
}

#footer-left .footer-logo >img {
    margin-top: 20px;
    margin-left:0px;
    color: var(--color);  
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    height:70px;
    -webkit-filter: brightness(150%);
}
#footer-left .footer-logo p {
    margin-bottom: 50px;
    text-transform: capitalize;
}

.bottom p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 0px;
    height: 60px;
    
}

/* Common wrapper style for login page, register page , setting page and leaderboard page */
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Common style  which is used for login page, register page and setting page*/
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 6px 6px #00FFCA; 
    width:56.87%;
    height:auto;
    margin: auto;
    margin-top: 168px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 0px 77px 49px 96px;
}

/* form  label styles*/

#form .label-items {
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
   
}


#form .label-items >img{
    margin-left: 32px;
}


#form label{
    margin-top: 40px;
    width: 78.8%;
    border: none;
    border-radius: 7px;
    background-color: #088395;
    box-shadow: 6px 6px  rgba(0, 0, 0, 1), 2px 15px 20px rgba(0, 255, 202);

}

#form .label-one,
#form .register-username,
#form .current
{
    margin-top: 20px;
}


/* Common Input styles for login page, register page and setting page*/
#form .input{
    color:#00FFCA;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 22px 32px 16px 32px;
    width: 100%;
    background-color: #088395;
    border-radius: 7px;
    border: none;
    height:42px;
}

#form .input::placeholder{
    color:#00FFCA;
    text-transform: capitalize;
}

#form .input:focus::placeholder{
    transition: 0.5s;
    opacity:0;
}

#form .input:focus{
    transform: scale(1.06);
}

/* Common title text style for login page, register page , setting page, support page and leaderboard page */
#form p,
#help-section h1,
.easy-mode h2,
.hard-mode h2,
.table-container p {
    margin-top: 69px;
    width: auto;
    height: 122px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background: var(--title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.1em transparent;
    background-clip: text;
    text-transform: uppercase;
}

/* ===BEGIN_login.html, register.html additional styles=== */

/* Button style for login page and register page */

.login-page-button,
.register-page-button
{
    margin-top: 100px;
}

/* form link style login page */

.form-links{
    margin-top: 35px;
}

.form-links {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#form .form-links p {
    color:#05BFDB;
    margin: 0 5px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    text-transform: lowercase;
}

#form .form-links p::first-letter, 
#form .form-links p a::first-letter{
    text-transform: capitalize;
}
  
.form-links p a{
    display: inline-block;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
    text-decoration: underline;
    }
  
.form-links p a:hover{
    color: #00FFCA;
}

#usernameMessage,
#emailMessage,
#passwordMessage, 
#dateMessage,
#genderMessage{
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align:left;
    margin-top: -10px;
    margin-left: 32px;
    color: #FFA07A ;
}


/* ===END_login.html,register.html additional styles=== */



/* ===BEGIN_setting.html additional styles=== */


#form .strong-password {
    color:#05BFDB;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    text-transform: lowercase;
}

#form .strong-password::first-letter{
    text-transform: capitalize;
}

#form .save{
    margin-top: -70px;
}

#form .cancel{
    margin-top: 20px;
}

/* ===END_setting.html additional styles=== */



/* ===BEGIN_leaderboard.html styles=== */
.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    max-height: 750px;
    margin: auto;
    margin-top: 168px;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 100px;
    border-radius: 15px;
    box-shadow: 0 0 6px 6px #00FFCA; 
   
}

.second-container{
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: #0A4D68; 
    width:70%;
    max-height: 440px;
}

.table-container img{
    width: 150px;
    height: 150px;
    margin-top: -40px;
    margin-bottom: 20px;
    animation: rotate3d 7s linear infinite;
    -webkit-filter: brightness(120%);
}

@keyframes rotate3d{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}


/* styles for table and its data*/
table{
    overflow-x: auto;
    border-collapse: separate; 
    border-spacing: 0px 7px;
    width:98%;
    text-align: center;
    margin-top: 0px;
}

th,
td,
tbody{
    color:#00FFCA;
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1.5px solid black; 

}

th{
    background-color: #0A4D68; 
}


tr{
    background-color: #088395;
    height: 80px;
}

tr:nth-child(even){
    background-color: #05BFDB;
}

tr:hover{
    transform: scale(1.05);
    transition: all ease-out 1s ;
}

/* ===END_leaderboard.html styles=== */



/* ===BEGIN_support.html styles=== */
#help-section{
    display: grid;
    align-items: center;
    box-shadow: 0 0 6px 6px #00FFCA; 
    width:83.61%;
    height:auto;
    margin-top: 168px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    grid-template-areas: ". ." "play play" "robot easy" "para hard" ;
    grid-template-rows: 69px 80px 520px 600px;
    grid-template-columns: 548px 1fr;
    column-gap: 10px;
}

#help-section h1{
    text-align: center;
    grid-area: play;
    text-transform: uppercase;
}

#help-section .support-help-section >img{
    grid-area: robot;
    margin-top: 950px;
    height: 451px;
}

#help-section .support-help-section p{
    grid-area: para;
    margin-top:57px;
    color: #00FFCA;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -350px;
    padding: 0 60px;

}

.easy-mode{
    grid-area: easy;
    margin-top: 60px;
}

.hard-mode{
    grid-area: hard;
}

.easy-mode,
.hard-mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: rgba(8, 131, 149, 0.7);
    box-shadow: 0 0 4px 4px #0ef;
    border-radius: 15px;
}

.easy-mode h2, 
.hard-mode h2{
    font-size: 32px;
    color:#000000
}

.easy-mode p,
.hard-mode p {
    color: #00FFCA;
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 40px 55px;
}

#mode-images{
    display: flex;
    margin-top: -40px;
    width: 60%;
}

#mode-images-two{
    display: flex;
    margin-top: -120px;
    width: 50%;
}

#mode-images img{
    margin-right: 120px;
}

#mode-images-two img{
    margin-right: 150px;
    margin-top: 80px;
}

/* ===END_support.html styles=== */


/* ===BEGIN_game.html styles=== */

#game{
    /* width: 100%;
    height: 90vh; */
    background: rgba(0, 0, 0, 1);
    margin-top:13%;
    border-radius: 15px;
    box-shadow: 0 0 4px 4px #0ef;
}


/* .game h1{
    font-family: var(--font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background: var(--title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.1em transparent;
    background-clip: text;
    text-transform: uppercase;
    margin-left: 40%;
} */

/* ===END_game.html styles=== */
   